#RewriteEngine on
#RewriteCond $1 !^(index\.php|image|JS|CSS|robots\.txt)
#RewriteRule ^(.*)$ /CodeIgniter/index.php/$1 [L]

#RewriteEngine on
#RewriteCond $1 !^(index\.php|image|JS|CSS|robots\.txt)
#RewriteRule ^(.*)$ /index.php/$1 [L]